In [1]:
from datasets import load_dataset

# code : ms
# language: Malay
# OSCAR 2019 : 116MB
# OSCAR 2019 deduplicated : 43MB
# OSCAR 20.19 : 146MB
# OSCAR 20.19 deduplicated: 60MB

dataset = load_dataset("oscar-corpus/OSCAR-2109",
                        use_auth_token="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", # required
                        language="ms", 
                        
                        streaming=True, # optional
#                         split="train"
                      ) # optional, but the dataset only has a train split

Using custom data configuration deduplicated_ms-language=ms

In [3]:
dataset['train']

{'train': <datasets.iterable_dataset.IterableDataset at 0x7fc81448c588>}

In [4]:
sample = dataset['train'].take(200)

In [5]:
list(sample)[60]

{'id': 60,
 'text': 'Disebabkan nak balas jasa ibunya, Puan Winnie bekerja part time sebagai cashier dan waiter. Bagi Puan Winnie, beliau bersyukur diberikan peluang untuk sambung belajar walaupun meminjam kerana pada 2018, beliau berjaya menjadi graduan.',
 'meta': {'headers': {'warc-record-id': '<urn:uuid:3b15aa23-8c8c-4654-906a-728d9f1a9763>',
   'warc-date': '2021-03-08T21:01:10Z',
   'content-type': 'text/plain',
   'content-length': 6611,
   'warc-type': 'conversion',
   'warc-identified-content-language': 'msa,eng',
   'warc-refers-to': '<urn:uuid:7b84efc0-5c5d-46e2-84e2-7d346c981c76>',
   'warc-target-uri': 'https://richworks.com/jual-produk-orang-lain-capai-jualan-4-juta/',
   'warc-block-digest': 'sha1:KHQR5BSMJZRHCCF3A6ADZL4V2VJFRLG6'},
  'offset': 176,
  'nb_sentences': 1}}

In [1]:
import pandas as pd

In [3]:
data_list = []
for index, each in enumerate(dataset['train']):
#     if index > 4:
#         break
    text = each['text']
    date = None
    if 'headers' in each['meta'].keys():
        if 'warc-date' in each['meta']['headers'].keys():
            date = each['meta']['headers']['warc-date']
    
    data_list.append([text, date])

In [4]:
df = pd.DataFrame(data_list)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205592 entries, 0 to 205591
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       205592 non-null  object
 1   1       205592 non-null  object
dtypes: object(2)
memory usage: 3.1+ MB

In [11]:
df.to_csv("data/OSCAR 2109.csv")

## Read data

In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("data/OSCAR 2109.csv")
df.columns = [" ", "Text", "Date"]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205592 entries, 0 to 205591
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0           205592 non-null  int64
 1   Text    205592 non-null  object
 2   Date    205592 non-null  object
dtypes: int64(1), object(2)
memory usage: 4.7+ MB

In [4]:
df.drop(columns=[" "], inplace = True)

In [5]:
df['Text Length'] = df['Text'].apply(lambda x : len(x.split(" ")))

In [6]:
df['Text Length'].sum()

8180134